spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: fine-service-route
              uri: lb://fine-service
              predicates:
                - Path=/api/v1/fines/**
            - id: reservation-service-route
              uri: lb://reservation-service
              predicates:
                - Path=/api/v1/reservations/**
            - id: user-service-route
              uri: lb://user-service
              predicates:
                - Path=/api/v1/users/**
server:
  port: 8888

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka